 @import "kmom04.less";

 @import "kmom04.less";
 @import url('https://fonts.googleapis.com/css?family=Cairo|Tinos');
 @fontFamilyBody: Cairo, sans-serif;
 @fontFamilyHeadings: Tinos, sans-serif;
 @bgColor: #fff;
 @bgLight: #CC457F;
 @textHighlight: #FEFF29;
 @bgLighter: #CCC372;
 @textColor: #efe;

 /*
 * #CCC372
 * #FEFF29
 * #E694FF
 * #991C52
 * #CC457F
 */

 html, body {
     background-color: @bgColor;
 }

 .outer-wrap-header {
     background-color: #BB6DE8;
 }

 .rm-desktop {
     display: none;
 }

 .wrap-all li{
     color: @textColor;
 }

 .wrap-all a {
     color: @textColor;
 }

 .wrap-all a:hover {
     color: @textHighlight;
 }

 .outer-wrap-main {
     background-color: #CC457F;
     color: @textColor;
 }

 .my-navbar li {
     background-color: unset;
     box-shadow: unset;
     background-color: @bgLighter;
     color: #000;
     &:hover {
         background-color: unset;
         background-color: #FEFF29;
     }
 }

 code {
     background-color: #333;
     color: #0f0;
     border: none;
 }

 .wrap-sidebar {
     background-color: #991C52;
 }

 // .region-flash {
 //     display: none;
 // }

 .outer-wrap-footer {
     background-color: #BB6DE8;
     color: @textColor;
 }
