/**
 * Base style to affect HTML elements on a general scale.
 */
@bgColorHtml: rgba(214, 199, 199, 0.75);
@bgColorBody: rgba(249, 241, 241, 0.67);
@colorBody: #333;
@fontFamilyBody: serif;

html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
    font-family: 'Mukta', sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: @colorBody;
    background-color: @bgColorBody;
    font: 100.01%/1 @fontFamilyBody;
}

a {
    color: rgba(19, 166, 228, 1);
    text-decoration: none;
}

a:visited {
    color: rgba(19, 166, 228, 0.93);
}

a:hover {
    color: rgba(73, 215, 224, 1);
    text-decoration: underline;
}

img {
    max-width: 100%;
}
