
.site-logo-text {
    display: none;
}

.breadcrumb-list li, .bullet-list {
   display: inline;
}

.breadcrumb-list li::after {
   content: " > ";
}

.my-navbar {
   text-align: center;
}

.region-flash img {
    display: block;
    margin: auto;
    width: 75%;
}


.my-navbar li {
    background-color: rgba(190, 131, 151, 1);
    box-shadow: 0px 5px 5px rgba(131, 43, 72, 0.32);
    color: #eee7e7;
    &:hover {
        background-color: rgba(131, 43, 72, 0.19);
    }
}

.outer-wrap-header {
    background-color: #eee7e7;
}

.footer-column-1 {
    text-align: left;
}

.footer-column-2 {
    text-align: center;
}

.footer-column-3 {
    text-align: right;
}

.section-header {
    font-size: 1.2em;
}


.row::after {
   content: "";
   display: block;
   clear:both;
}

.byline {
   border: 1px solid black;
   & img {
   }
}

.site-footer {
    text-align: center;
}

.outer-wrap-footer {
    background-color: #eee7e7;
}
