// Fixes placement of text under pictures (in figures)
figure.figure.right {
    float: left;
    font-style: italic;
    font-size: 0.9em;
}

figure.figure figcaption {
    clear: left;
}

.my-navbar li {
    // display: inline-block;
    border: 1px solid black;
    // padding: 0.2em;
    background-color: rgba(168, 160, 182, 0.28);
    // margin-left: auto;
    // margin-right: auto;
}

.inner-wrap {
    background-color: rgba(249, 241, 241, 0.67);
}

.footer-column-1 {
    float: left;
}

.footer-column-2 {
    text-align: center;
}

.footer-column-3 {
    text-align: right;
    float: right;
}
