/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */
 @import url('https://fonts.googleapis.com/css?family=Mukta');

 .inner-wrap {
     max-width: 1100px;
     margin: 0 auto;
     padding: 1em;
 }

 // .wrap-all {
 //     max-width: 1200px;
 //     margin: 0 auto;
 //     padding: 10px;
 // }

/* Hide submenu, leave this to kmom02 */
// .rm-desktop ul {
//     display: none;
// }

/* Hide responsive/mobile menu, leave this to kmom02 */
// .rm-navbar-max {
//     display: none;
// }

.row::after {
    content: "";
    display: block;
    clear:both;
}

.outer-wrap-main {
    padding: 20px;
}

.inner-wrap-main {
    padding: 15px;
}

.has-sidebar-right {
    float: left;
    width: 65%;
}

.region-flash img {
    display: block;
    margin: auto;
}

.region-header-col-1 {
    display: none;
}

.region-sidebar-right {
    float: left;
    width: 20%;
    padding: 10px 10px;
}

.region-sidebar-left {
    float: left;
    padding-right: 30px;
}

.my-navbar {
    text-align: center;
}

.my-navbar li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    background-color: rgba(168, 160, 182, 0.28);
    margin-left: auto;
    margin-right: auto;
}

.article {
    overflow: auto;
    padding-bottom: 30px;
}

.article img {
    float: left;
    margin-right: 15px;
}

.footer-column {
    width: 33%;
    float: left;
}

.site-footer {
    text-align: center;
}

.byline {
    margin-top: 10px;
    border: 2px solid black;
    overflow: auto;
    width: 50%;
}

.byline img {
    padding: 10px;
    float: left;
}

.outer-wrap-footer {
    background-image: linear-gradient(#f9f1f1, #d6c7c7);
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.next {
    float: right;
}

.breadcrumb-list li, .bullet-list {
    display: inline;
}

.breadcrumb-list li::after {
    content: " > ";
}
